table{
    width: 900px;
    border-spacing: 0px;
    border: none;
}
th{
   background-color: gray;
}
td{
    border-bottom: 1px solid grey;
    width: 200px;
}
th,td{
    text-align: left;
    padding: 30px;
}